<!DOCTYPE HTML>
<html>

<head>
    <title>Subless Python sample</title>
    <!-- Load subless.js onto pages with content owned by a particular creator to automatically track a user -->
    <script type="module">
        // for tag tracking, just import this class instead of the default export
        import sublessTagTracking from 'https://localhost:4200/dist/subless.js';
        sublessTagTracking();
    </script>
</head>

<body>
    Welcome to your profile
    <br />
    <subless creatorName="creatorTaggedUsername"></p>
    <br />
    Your creator registration link is:<br />
    <a href="{{creator_link}}">Activate profile</a>
    